/* ====================================
   Stylesheet for Homepage
   Author: Matthew Fernandez
   File: home.css
   Date: April 2026
   =================================== */


/* Imported Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Squada+One&display=swap'); 
/* Root Variables / Theme Colours / Fonts */
:root {
    --main-color: #0a1f44;
    --second-color: #123a7a;
    --text-color: #060414;
    --container-color: #7989ff;
    --bg-color: #f7f7f7;
    --text-alter-color: #818181;
    --poppins-font: "Poppins", sans-serif;
    --font-family-2: "Squada One", sans-serif; 
}

/* Reset Default Browser Styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Main Body Styling */
body { 
    color: var(--text-color);
    background: #0b1220;
    font-family: var(--poppins-font); 
}

section {
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 0%, #0b1220 80%);
    z-index: -1;
}
/* Removes Default Link Underlines */
a {
    text-decoration: none;
}

/* Main Content Container */

.container {
    max-width: 1060px;
    margin: auto;
    width: 100%; 

}


/* =========================================== 
   HEADER / Navigation 
   ============================================ */
header {
    position: fixed;
    top: 15px;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;

    /* GLASS EFFECT */
    background: rgba(15, 15, 15, 0.55);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
     border: 1px solid rgba(104, 51, 51, 0.08);
    box-shadow: 0 8px 30px rgba(0,0,0,0.25);
    padding:17px 22px;
    border-radius: 16px;
    max-width: 1060px;
    margin: auto;
}

/* Revora text */
.logo{
    font-size: 1.7rem;
    font-weight: 400;
    color:var(--bg-color);
    text-transform: uppercase;
    font-family: var(--font-family-2);
}
/* Navigation Links */
.navbar {
    display: flex;
    gap: 1.5rem;
}

.nav-link{
    font-size:0.9rem;
    color: var(--text-alter-color);
    transition: 0.3s;
}

.nav-link:hover {
    color:var(--bg-color);
}

/*  Navigation Icons */
.nav-icons {
    display:flex;
    align-items:center;
    gap: 1rem;
}

.nav-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.3s;
}

.nav-icons a:hover {
    background: var(--second-color);

}


.nav-icons .bx{
    color: var(--bg-color);
    font-size:20px;
}
/* Mobile Hamburger Menu */
.menu-icon {
    display:none;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
}

.menu-icon div{
    background: var(--bg-color);
    height: 2px;
    width: 23px;
    transition: 0.3s;
}
/* Hamburger Animation */
.menu-icon.move .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.menu-icon.move .line2 {
    opacity: 0;
}
.menu-icon.move .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/* ============================ 
   Intro Section 
   ============================*/

.home-img {
    position: relative;
}

.home-img img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transform: scale(1.05);
    position: relative;
    z-index: 1;
}

.home-img::before {
    content: "𝐑𝐄𝐕𝐎𝐑𝐀";
    width: 100%;
    position: absolute;
    top: 120px;
    text-align: center;
    font-size: 11rem;
    font-weight: 500;
    letter-spacing: 2rem;
    color: rgba(0, 0, 0, 0.753);
    z-index: 2; 
}


/* ======================== 
    SECTION HEADINGS 
    ======================*/


.heading{
    margin-bottom: 2rem;
}

.heading h2{
    font-size: 2.2rem;
}

/* ==========================
   Trending Vehicles 
   =========================*/
.trending {
    margin-top: 3rem;
}
.trending-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

/* Individual trending card */
.trend-box{
    background: rgba(202, 72, 72, 0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.08);
    padding:15px;
    border-radius: 18px;
    border: 1px solid rgba(255,255,255,0.08);
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}
/* Car image */
.trend-box img{
    margin: 1.4rem 0 1rem;
    width:100%;
}

/* Hover animation */

.trend-box:hover{
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 0 25px rgba(0,120,255,0.25);
    transition: 0.4s ease;
}

.trend-box h4{ 
    display: inline-block;
    font-family: var(--poppins-font);
    background: #fff;
    font-size: 0.8rem;
    padding: 4px 6px;
    border-radius: 4px;
    font-weight: 600;
}
/* Hover animation for the trend box*/
.trend-box:hover h4{
    background: #efe8e2;
}

.trend-box h3{
    font-size: 1.4rem;
    font-weight: 500;
}

.trend-box p {
    font-size:0.9rem;
    margin-top: 7px;
    color: var(--text-alter-color)
}


/* ==========================================
   Rental Cars
   =======================================*/

.rentals .heading {
    text-align: center;
}

.heading {
    text-align: center !important;
    width: 100%;
}

.heading p{
    max-width: 550px;
    width: 100%;
    font-size: 0.9rem;
    font-family: var(--poppins-font);
    margin: 1rem auto;
}


.rentals-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    max-width: 1060px;
    margin: 0 auto;
}
/* Rental Images*/
.rental-box img {
    margin: 1.4rem 0 1rem;
    width:100%;
}
/* Rental card */
.rental-box {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.08);
    padding: 15px;
    border-radius: 18px;
    transition: transform 0.5s ease;
    border: 1px solid rgba(255,255,255,0.08);
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}

/* Rental card hover */

.rental-box:hover{
    transform: translateY(-10px) scale(1.03);
    box-shadow: #7989ff;
    transition: 0.4s ease;
}

.rental-top h3{
    display: inline-block;
    font-family: var(--poppins-font);
    background: #efe8e0;
    font-size: 0.77rem;
    padding: 4px 7px;
    border-radius: 4px;
    font-weight: 600;
}

.rental-top .bx{
    font-size: 20px;
    color: var(--text-alter-color);
    cursor:pointer;
}
.rental-top .bx:hover{
    color: var(--main-color);
    transition: 0.3 ease;
}

.rental-box h2{
    font-size: 1.4rem;
    font-weight: 500;
} 

.rental-box h4{
    font-size: 0.94rem;
    font-weight: 500;
    color: var(--text-alter-color);
    margin-top: 5px;
}
/* Price Button*/
.price-btn {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.price-btn p{
    font-size: 0.97rem;
}
.price-btn p span {
    color: var(--text-alter-color);

}

/* Rent now button */

.rental-btn{
    background: var(--text-color);
    color: var(--bg-color);
    padding: 7px 10px;
    font-size: 0.97rem;
    border-radius: 4px;
    transition: 0.4s ease;
}
.rental-btn:hover{
    background: var(--main-color);
    transition: 0.4s ease;
}

/*====================================
  Reviews 
  ====================================*/
.reviews .heading {
    text-align: center;
}

.reviews-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
/* Review card */
.t-box{
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.08);
    padding: 30px;
    border-radius: 18px;
    border: 1px solid rgba(255,255,255,0.08);
}
/* Star icons */
.t-box .stars{
    color:var(--main-color);
    font-size: 20px;
}

.t-box p{
    font-size: 1rem;
    margin: 10px 0;
}


.trend-box h3,
.trend-box p,
.rental-box h2,
.rental-box h4,
.price-btn p,
.t-box p,
.profile-data h3,
.profile-data span,
.heading h2,
.heading p{
    color: white;
}
.profile{
    display:flex;
    align-items: center;
    gap:10px;
}

.profile img{
    width:60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.profile data h3{
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
}
.profile-data span {
    font-size:0.94rem;
    font-weight: 400;
    color: var(--text-alter-color)
}

/* ==========================================
   FOOTER SECTION
========================================== */


.footer {
    background: var(--text-color);
    color: var(--bg-color);
}
/* Footer columns */
.footer-content {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 1.5rem;
    padding: 40px 0 30;

}

.footer-box{
    display: flex;
    flex-direction: column;
}

.social {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

/* Social media icons */

.social a .bx{
    font-size: 20px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 50%;
    padding: 8px;
    margin-right: 0.8rem;
}

.social a .bx:hover {
    color: var(--text-color);
    background: var(--bg-color);
    transition: 0.4s ease-in-out;
}

.footer {
    background: var(--text-color);
    color: var(--bg-color);
    margin-top: 4rem; 
}
.footer-box h3{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--bg-color);
    margin-bottom: 1rem;
}

.footer-box p{
    margin-bottom:8px;
}

.footer-box p span {
    display: inline-block;
    width: 50px;
}

.footer-box a{
    color: var(--bg-color);
}

/* ==========================================
   WHY CHOOSE US SECTION
========================================== */
.why-us{
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.why-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
}

/* Feature card */
.why-box{
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 18px;
    padding: 30px 20px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.08);
    transition: 0.4s ease;
}

.why-box i{
    font-size: 38px;
    color: #fbfaf9;
    margin-bottom: 15px;

}

.why-box h3{
    color: white;
    margin-bottom: 10px;
}

.why-box p{
    color: #cfcfcf;
    font-size: 0.95rem;
}

.why-box:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 20px rgba(255,0,0,0.25);
}

/* ================================
   STAFF PICK 
   =============================== */

.staff-pick{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
/* Two column featured layout */
.staff-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.08);
    padding: 30px;
    border-radius: 22px;
    border: 1px solid rgba(255,255,255,0.08);
}

.staff-image img{
    width: 100%;
}

.staff-text h3{
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.staff-text p{
    color: #d0d0d0;
    margin-bottom: 1rem;
    line-height: 1.6;
}

/* Staff pick button */
.staff-btn{
    display: inline-block;
    background: linear-gradient(135deg,#7989ff,#00159d);
    color: white;
    padding: 12px 18px;
    border-radius: 30px;
    transition: 0.4s ease;
}

.staff-btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 18px rgba(4, 0, 255, 0.35);
}

/* ==========================================
   COMPANY STATS SECTION
========================================== */

.stats{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    margin-bottom: 4rem;

}
/* Stat card */
.stat-box{
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.08);
    padding: 28px 20px;
    border-radius: 18px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.08);
    transition: 0.4s ease;
}

.stat-box h2{
    color: #4da3ff;
    font-size: 2rem;
    margin-bottom: 8px;
}

.stat-box p{
    color: white;
}

.stat-box:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 18px rgba(255,0,0,0.25);
}


.copyright{
    padding: 30px;
    color: var(--bg-color);
    text-align: center
}


/* Tablet layout */

@media (max-width: 1024px) {
    .trending-content,
    .rentals-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .home-img::before {
        font-size: 6rem;
        letter-spacing: 1rem;
    }
}


/* Mobile layout */
@media (max-width: 768px) {


    .staff-content{
grid-template-columns: 1fr;
}

.stats{
grid-template-columns: 1fr;
}
    .why-content{
    grid-template-columns: 1fr;
}
     /* Mobile dropdown menu */  
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        background: var(--text-color);
        width: 100%;
        padding: 1rem 0;
        display: none;
    }

    .navbar.active {
        display: flex;
    }

    .menu-icon {
       display: flex;
    }

    
    .trending-content,
    .rentals-content,
    .reviews-content {
        grid-template-columns: 1fr;
    }

    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    
    .home {
        padding-top: 8rem !important;
    }

    .home-img::before {
        font-size: 3rem;
        letter-spacing: 0.5rem;
        top: -30px;
    }

    
    .input-form {
       flex-direction: column;
        align-items: stretch;
    }

    .search-btn {
        width: 100%;
        text-align: center;
    }
}


/* Small phone layout */
@media (max-width: 480px) {

    .logo {
        font-size: 1.2rem;
    }

    .nav-icons a {
        width: 35px;
        height: 35px;
    }

    .heading h2 {
        font-size: 1.5rem;
    }

    .home-img::before {
        font-size: 2rem;
    }

    .t-box {
        padding: 20px;
    }
}